* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: rgb(4, 11, 30);
  color: white;
  font-family: sans-serif;
}
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: rgb(23, 4, 61);
  z-index: 1;
}
nav .left {
  font-size: 1.5rem;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.25 ease-in;
}
nav ul li a:hover {
  border-bottom: 2px solid white;
  transition: 0.25 ease-out;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}
.firstSection {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}
.info{
  width:800px;
  height:100px;
}
.firstSection > div {
  width: 40%;
}
.firstSection .leftSection {
  font-size: 2rem;
  margin: 0px 40px;
}
.buttons {
  padding: 50px 0;
}
.btn {
  padding: 12px;
  background-color: purple;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.firstSection .rightSection img {
position: absolute;
width: 40%;
top: 90px;
left: 758px;
}
.purple {
  color: purple;
}
#element {
  color: purple;
}
.text-gray {
  color: gray;
  font-size: 1.5rem;
}
.secondSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  background-color: rgb(64, 15, 72);
  margin: 50px 80px;
  padding: 40px;
  border-radius: 20px;
}
.secondSection > div {
  width: 40%;
}
.secondSection .rightSection img {
  width: 80%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.layout {
  max-width: 80vw;
  margin: auto;
}
h1 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}

.ThirdSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  background-color: rgb(64, 15, 72);
  margin: 50px 80px;
  padding: 40px;
  border-radius: 20px;
}
.ThirdSection .rightSection img {
  width: 80%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  height: 300px;
}
.ThirdSection > div {
  width: 40%;
}
.FourthSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  background-color: rgb(64, 15, 72);
  margin: 50px 80px;
  padding: 40px;
  border-radius: 20px;
}
.FourthSection .rightSection img {
  width: 80%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  height: 300px;
}
.FourthSection > div {
  width: 40%;
}
.leftSection {
  font-size: 1.5rem;
}
.hidden {
  opacity: 0;
  transform: translate(-100%);
  transition: all 1.5s;
}
.show {
  opacity: 1;
  transform: translate(0);
}
.FifthSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 110px 0px 110px 0px;
  border-radius: 10px;
  height: 80vh;
  font-size: xx-large;
}
.FifthSection h3 {
  margin-top: 80px;
}
.FifthSection h2 {
  margin-bottom: 40px;
}
.SixthSection {
  margin: 50px 80px;
}
.leftC {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.FifthSection .icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon{
  margin:0px 20px;
}
.icons img{
  margin:0px 20px;
}
.leftC a {
  text-decoration: none;
  color: white;
  margin: 10px 0;
  font-size: 2rem;
  color: white;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.25 ease-in;
}
.leftC a:hover {
  border-bottom: 2px solid white;
  transition: 0.25 ease-out;
}
.rightC img{
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.SixthSection h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.Contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 342px;
  padding: 44px 0px;
  border: 2px solid white;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .icon{
    width: auto;
    margin:0px 20px;
  }
  .icon img{
   width:10%;
  }
  .FifthSection .icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .info{
    position: relative;
    width:330px;
    height:96px;
    top:-40px;
  }
  .bar {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  .purple,
  #element {
    font-size: 1.5rem;
  }
  nav ul {
    display: none;
  }
  nav {
    flex-direction: row;
    justify-content: start;
    height: 10vh;
    position: static;
  }
  nav .left {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .firstSection {
    position: relative;
    height: 35vh;
  }
  .firstSection .leftSection {
    font-size: 1.5rem;
  }
  .firstSection .rightSection img {
    position: absolute;
    width: 38%;
    height: auto;
    top: 120px;
    left: 250px;
  }
  .firstSection .leftSection .buttons .btn {
    margin: 5px 0px;
    background-color: purple;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
  }
  .firstSection .leftSection .buttons {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
  main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 20px 42px;
  }
  main .layout h1,
  span,
  .text-gray {
    font-size: 20px;
  }
  .secondSection {
    margin: 15px 20px;
    height: 25vh;
  }
  .secondSection .rightSection img {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
  }
  .secondSection .leftSection #element1 {
    font-size: 0.8rem;
  }
  .ThirdSection {
    margin: 15px 20px;
    height: 25vh;
  }
  .ThirdSection .rightSection img {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
  }
  .ThirdSection .leftSection #element2 {
    font-size: 0.8rem;
  }
  .FourthSection {
    margin: 15px 20px;
    height: 25vh;
  }
  .FourthSection .rightSection img {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
  }
  .FourthSection .leftSection #element3 {
    font-size: 0.8rem;
  }
  .FifthSection {
    margin: 0px 0px;
    height: 50vh;
  }
  .FifthSection h3 {
    margin-top: 17px;
    font-size: 1.3rem;
  }
  .FifthSection h2 {
    margin-bottom: 17px;
    font-size: 1.3rem;
  }
  .FifthSection .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .FifthSection .icons,
  img {
    width: 11%;
    height: auto;
  }
  .SixthSection {
    margin: 0px 0px;
  }
  .SixthSection .leftC {
    display: flex;
    flex-direction: column;
    margin:0px 25px
  }
  .SixthSection h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .SixthSection .rightC img {
    width: 85%;
    height: 85%;
  }
  .Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:13px;
    border: none;
  }
}
@media only screen and (max-width: 468px) {
  .firstSection .rightSection img {
    position: absolute;
    width: 40%;
    height: auto;
    top: 122px;
    left: 224px;
  }
  .leftC a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    font-size: 1rem;
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.25 ease-in;
  }
}


